<h2 class="header">Set Your Campaign Budget and Duration</h2>
<div class="form">
  <form [formGroup]="campaignForm" class="campaignForm">
    <mat-form-field class="campaignName" appearance="outline">
      <mat-label>Campaign Name</mat-label>
      <input matInput placeholder="Campaign Name" formControlName="campaignName" />
    </mat-form-field>
    <mat-form-field class="dailyBudget" appearance="outline">
      <mat-label>Daily Budget</mat-label>
      <input matInput placeholder="Daily Budget" formControlName="dailyBudget" />
      <span matTextPrefix>$&nbsp;</span>
    </mat-form-field>
    <mat-error *ngIf="invalidBudget">Please enter a valid budget</mat-error>

    <div class="date">
      <mat-form-field class="startDate" appearance="outline">
        <mat-label>Start Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="startDate" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="endDate" appearance="outline">
        <mat-label>End Date</mat-label>
        <input matInput [matDatepicker]="picker1" formControlName="endDate" />
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>  
    </div>
    <mat-error *ngIf="invalidDate">Please enter a valid date</mat-error>
  </form>
</div>