h1 {
    padding-top: 1rem
}

.form {
    width: 80%;
    margin: 0;

    .campaignForm {
        display: flex;
        flex-direction: column;
        gap: 5px;

        .campaignName {
            width: 50%;
        }
        .dailyBudget {
            width: 20%;
        }

        .date {
            display: flex;
            gap: 20px;

            .startDate, .endDate {
                width: 20%;
            }
        }
    }
}
