<div class="product-keywords">
  <h1>Keywords</h1>
  <div id="keyword-action-group">
    <app-action-group-pres
      [buttonText]="'Add Keywords'"
      (addButton)="addKeywordList($event)"
      (searchInput)="searchInputChanged($event)">
    </app-action-group-pres>
  </div>

  <div id="keyword-item-list" *ngTemplateOutlet="(productKeywords | async)?.length ? keywordPage : noKeyword">

  </div>
  <div id="buttons-group">
    <app-buttons-group-pres
    (continueButton)="continueButton($event)"
    (cancelButton)="cancelButton($event)">
  </app-buttons-group-pres>
  </div>
</div>

<ng-template #keywordPage>
  <app-keyword-list-pres
  [productKeywords]='(productKeywords | async)'
  (productKeywordsChanged)="getProductKeywords($event)">
</app-keyword-list-pres>
</ng-template>


<ng-template #noKeyword>
  <h1 id="notification">Please Add Keywords!!!</h1>
</ng-template>
