<div>
   <app-products-and-ad-group-pres (formSubmit)="onFormSubmit($event)">
   </app-products-and-ad-group-pres>
</div>

<div class="container">
   <div class="left-panel" *ngIf="products">
      <app-products-pres [products]="(products | async)" (addClick)="onAddClick($event)"></app-products-pres>
   </div>
   <mat-divider [vertical]="true"></mat-divider>
   <div class="right-panel">
      <app-products-pres [products]="(addedProducts | async)" (addClick)="onAddClick($event)"></app-products-pres>
   </div>
</div>
<div id="buttons-group">
   <app-buttons-group-pres (continueButton)="continueButton($event)" (cancelButton)="cancelButton($event)">
   </app-buttons-group-pres>
</div>


