<div *ngIf="productKeywords" [formGroup]="myForm">
  <ng-container formArrayName="keywords">
    <ng-container *ngFor="let keyword of keywords.controls; let index = index">
      <div [formGroupName]="index" [style.display]=" keyword.get('isActive')?.value ? 'block' : 'none'">
        <div class="keyword">
          <div class="left">
            <mat-form-field appearance="outline">
              <mat-label>Keyword</mat-label>
              <input matInput placeholder="Keyword" formControlName="name" id="name" >
              <mat-error >
                * Keyword is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <div *ngIf="keyword.get('suggestedBid')?.value > 0">
              <a class="link" (click)="setSuggestedBid(index,keyword.get('suggestedBid')?.value)">Set suggested</a> <span> | suggested bid: {{keyword.get("suggestedBid")?.value}} EUR</span>
            </div>
          </div>
          <div class="left">
            <mat-form-field appearance="outline">
              <mat-label>Match Type</mat-label>
              <select matNativeControl required formControlName="matchType" id="matchType">
                <option value="Broad">Broad</option>
                <option value="Exact">Exact</option>
              </select>
            </mat-form-field>
          </div>
          <div class="left">
            <mat-form-field appearance="outline">
              <mat-label>Bid</mat-label>
              <input matInput placeholder="Bid" formControlName="bid" id="bid">
              <mat-error >
                * Bid is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="left remove-button">
            <button mat-raised-button color="primary" (click)="removeKeyword(index)">X</button>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>
