.keywordList h1 {
  padding-left: 1rem !important;
}

#keyword-item-list,
#notification {
  padding-left: 1rem;
}

.keyword {
  display: inline-block;
  padding-top: 1rem;
  width: 100%;
}

.left {
  float: left;
  padding-left: 1rem;

}

.remove-button {
  margin-top: .5rem;
}

.link {
  text-decoration: underline;
  cursor: pointer;
}
